<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments="FocLab.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess"></aspNetCore>
  </system.webServer>
  <system.web>
    <globalization requestEncoding="utf-8" fileEncoding="utf-8" enableBestFitResponseEncoding="true" responseEncoding="utf-8" />
  </system.web>
</configuration>